<%- include ../partials/header.ejs%>
<%- include ../partials/main_nav.ejs%>
        <!-- Homework Listing Section -->
        <section id="scroll">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="offset-md-1 col-md-10">
                        <h1>Homework List<h1> <br>

                        <!-- Button to add a task -->
                        <a href="/homework/add" class="btn btn-primary" role="button">
                            <i class="fas fa-plus-circle"></i> Add Task
                        </a>

                        <!-- Creates a Table of the list of Homework -->
                        <table class="table table-bordered table-striped table-hover">
                            <tr class="d-flex">
                                <th class="text-center col-2">Subject</th>
                                <th class="text-center col-2">Year</th>
                                <th class="col-5">Description</th>
                            </tr>
                            <!-- Increments/Decrements the table as a task is added/removed -->
                            <% for(let count=0;count<HomeworkList.length;count++) { %>
                                <tr class="d-flex">
                                    <td class="text-center col-2"><%= HomeworkList[count].Subject%></td>
                                    <td class="text-center col-2"><%= HomeworkList[count].Year%></td>
                                    <td class="col-5"><%= HomeworkList[count].Description%></td>

                                    <!-- Possible Actions -->
                                    <td class="text-center col-1">
                                        <a href="/homework/edit/<%= HomeworkList[count]._id%>"
                                            class="btn btn-primary btn-sm">
                                            <i class="fas fa-pencil-alt"></i>Edit
                                        </a>
                                    </td>

                                    <td class="text-center col-1">
                                        <a href="/homework/delete/<%= HomeworkList[count]._id%>"
                                            class="btn btn-danger btn-sm">
                                            <i class="fas fa-trash-alt"></i>Delete
                                        </a>
                                    </td> 
                                </tr>

                                
                            <%} %>
                        </table>
                    </div>
                </div>
            </div>
        </section>
<%- include ../partials/footer.ejs%>